<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

<button class="open-button bg-gray-800 text-white py-4 px-5 rounded-lg fixed bottom-5 right-5">Open Form</button>

<div class="form-popup fixed bottom-0 right-5 border-2 border-gray-200 bg-white shadow-lg rounded-lg hidden" id="myForm">
  <form action="/action_page.php" class="form-container p-5">

    <label for="psw" class="block mb-2"><b>Phone:</b></label>
    <input type="password" placeholder="Enter AccountNo" name="psw" required class="block w-full py-3 px-4 mb-5 bg-gray-100 rounded-lg">

    <button type="submit" class="btn bg-green-500 text-white py-4 px-5 rounded-lg w-full mb-2">Deactivate</button>
    <button type="button" class="btn bg-red-500 text-white py-4 px-5 rounded-lg w-full" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").classList.remove('hidden');
}

function closeForm() {
  document.getElementById("myForm").classList.add('hidden');
}
</script>

</body>
</html>
